@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --accent: #0f111a;
  --accent-a50: #0f111a80;
  --header-height: 60px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #282a33;
  color: white;
  font-family: "Inter", sans-serif;
}
