---
import BaseLayout from '../layouts/BaseLayout.astro'
import Button from '../components/Button.astro'
---

<BaseLayout>
  <main>
    <h1>🚀 Astro Devblog</h1>
    <p>Developer Blog Application made with Astro.</p>
    <div>
      <a href="/blog">
        <Button>Blog Posts</Button>
      </a>
      <a href="/tags">
        <Button variant="outline">Browse Tags</Button>
      </a>
    </div>
  </main>

  <style>
  main {
    height: 100vh;
    overflow: hidden;
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    font-size: clamp(24px, 10vw, 50px);
    text-align: center;
  }
  
  p {
    opacity: 0.8;
    margin-top: 16px;
    text-align: center;
    font-size: clamp(16px, 1vw, 18px);
  }

  div { 
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
  } 

  a {
    flex-shrink: 0;
  }
  </style>
</BaseLayout>
