---
import "../styles/globals.css"
import Header from '../components/Header.astro'
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro Devblog</title>
</head>
<body>
  <Header />
  <section>
    { title && <h1> {title} </h1> }
    <slot />
  </section>
  <style>
    h1 {
      margin: 50px 0px 25px 0px;
    }
    section {
      padding-top: var(--header-height);
      padding-right: var(--padding-page-x);
      padding-left: var(--padding-page-x);
    }
  </style>
</body>
</html>
